<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewNameMP3Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="NewNameMP3Files.MVVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <NewNameMP3Files.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="GridSpliiterWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NumberGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TitleGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ArtistGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AlbumGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YearGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="GenreGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AudioBitrateGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PathGridWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MusicLibraryPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="CheckMusicLibraryOnStartProgram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenameExpression" serializeAs="String">
        <value>(n) - (t)</value>
      </setting>
    </NewNameMP3Files.Properties.Settings>
    <NewNameMP3Files.MVVM.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
    </NewNameMP3Files.MVVM.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="MusicDb" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=musicstore.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
